{% extends 'base.html' %} {% block title %}manali{% endblock title %} 

{% block body %}
<iframe style="width:100vw;height:60vh" src="https://www.youtube.com/embed/jLIbNrcljJ8?start=64" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h1 style="position: relative; text-align:center; padding: 21px;"><b> Top 10 Places to Visit in and Around Manali</b></h1>
<h2 style="position: relative;left: 46px;margin: 10px;"><b>1.</b> Solang Valley</h2>
<div class="1" style="padding: 69px;margin-block: -48px;">
    <img src="/static/sv.webp" alt="error">
    <div class="box" style="margin: 25px;padding: 5px;position: relative;right: 28px;">
        <p>Solang Valley is located about 30 minutes from Manali and attracts travelers both in winter, for its snow, and in summer for its adventure sports. From January to March, it's possible to ski and snowboard there, and a gondola carries visitors
            1.3 kilometers up to the runs.</p> 
            <p>After the snow clears, paragliding becomes popular.However, keep in mind that it's not well regulated and there are safety concerns (people have died in the past).</p>
        <p>Additionally, many people who visit Solang Valley optout of the adventure-seeking to experience a bit of culture by visiting the Shiva temple above the village. If you don't want to walk up to it, it's possible to ride a pony there.</p>
    </div>
</div>
{%endblock body %}